.overlay {
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
}

#login-form {
    position: fixed;
    z-index: 100;
    top: calc(50% - 20px);
    height: 200px;
    background-color: $white;

    @include display-flex;
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);

    padding: 0 20px;

    label {
        width: 52px;
        margin-right: 10px;
    }
}

.succSave {
    position: absolute;
    top: 100px;
    background-color: green;
    width: 200px;
    right: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 1000;
    height: 50px;
    text-align: center;
}