#form-gallery{
    display: none;
}
#showGallery{
    cursor: pointer;
    margin-top: 70px;
}
.delete-form{
    input[type=submit]{
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: red;
        cursor: pointer;
    }
}
.gallery{
    img{
        cursor: pointer;
    }
}

.showThumbByDefault #lg-gallery.open .lg-slide {
    padding-bottom: 120px;
}
.showThumbByDefault #lg-gallery .thumb-cont .thumb-info{
    display:none;
}
/*/ actions */
.showThumbByDefault #lg-action {
    position: static;
}
.showThumbByDefault #lg-action a {
    margin-top: -14px !important;
    position: absolute;
    top: 50%;
    z-index: 9999999;
    background-color: transparent;
    font-size: 28px;
}
.showThumbByDefault #lg-action a#lg-prev {
    left: 17px;
}
.showThumbByDefault #lg-action a#lg-next {
    right: 17px;
}