li {
  list-style-type: none;
  text-align: center; }

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%; }

.sections, .contact section {
  margin-top: 150px;
  width: 100%;
  min-height: 70vh;
  margin-bottom: 3%;
  background-color: white;
  text-align: center; }

.from-left-mover {
  position: relative;
  z-index: 10;
  visibility: hidden; }

.from-right-mover {
  visibility: hidden; }

.visible {
  visibility: visible !important; }

.is-active {
  overflow-y: hidden;
  height: 100vh; }

.error {
  display: none; }

.display-block {
  display: block !important; }

.section-title {
  height: calc(100vh - 120px);
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center; }

#add-new {
  display: none; }

footer {
  width: 100%;
  height: 120px;
  background-color: black;
  color: #ffffff;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center; }
  footer a {
    text-decoration: underline;
    color: #ffffff; }

.notification {
  display: none;
  color: red; }

.contact {
  text-align: center;
  margin-top: 70px; }
  .contact section {
    margin-top: 80px;
    margin-bottom: 40px;
    min-height: 0;
    overflow: hidden; }
  .contact address.tel, .contact address.home {
    margin: 30px 0;
    font-size: 1.3rem;
    text-align: start; }
    .contact address.tel:before, .contact address.home:before {
      content: "";
      background-image: url("/static/images/icons/contact.svg");
      background-size: cover;
      display: block;
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px; }
  .contact address.home:before {
    content: "";
    background-image: url("/static/images/icons/house.svg"); }

.g-recaptcha {
  margin-bottom: 15px; }
  .g-recaptcha > div {
    margin: 0 auto; }

#map {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  min-height: 500px; }

#ajax-contact input, #ajax-contact textarea {
  padding: 10px;
  font-size: 1.2rem;
  color: #000000;
  border: none;
  background-color: #e0e0eb;
  float: left;
  width: 100%;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: calc(50% - 15px); }
#ajax-contact textarea {
  max-width: 100%;
  height: 130px; }
#ajax-contact label {
  min-width: 50px; }
#ajax-contact h3 {
  margin-bottom: 20px;
  position: relative;
  display: inline-block; }
  #ajax-contact h3:before {
    content: "";
    background-image: url("/static/images/icons/down-arrow.svg");
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    right: -40px;
    top: 5px; }

.w-100 {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center; }

#form-gallery {
  display: none; }

#showGallery {
  cursor: pointer;
  margin-top: 70px; }

.delete-form input[type=submit], .delete-form #ajax-contact textarea[type=submit], #ajax-contact .delete-form textarea[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: red;
  cursor: pointer; }

.gallery img {
  cursor: pointer; }

.showThumbByDefault #lg-gallery.open .lg-slide {
  padding-bottom: 120px; }

.showThumbByDefault #lg-gallery .thumb-cont .thumb-info {
  display: none; }

/*/ actions */
.showThumbByDefault #lg-action {
  position: static; }

.showThumbByDefault #lg-action a {
  margin-top: -14px !important;
  position: absolute;
  top: 50%;
  z-index: 9999999;
  background-color: transparent;
  font-size: 28px; }

.showThumbByDefault #lg-action a#lg-prev {
  left: 17px; }

.showThumbByDefault #lg-action a#lg-next {
  right: 17px; }

.btn-black {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  color: white;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #000000;
  background-color: #000000;
  padding: .7rem 1.4rem;
  font-size: 1.2rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .20s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .btn-black:hover {
    background-color: #ffffff;
    color: #000000; }

#menu li {
  display: block;
  min-width: 135px;
  padding: 14px 16px;
  margin: 15px; }
  @media screen and (min-width: 1070px) {
    #menu li {
      float: left; } }

nav {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 120px;
  color: #ffffff; }

#menu a {
  position: relative;
  font-size: 25px;
  letter-spacing: .5px;
  position: relative;
  color: #ffffff;
  padding-bottom: 7px; }
  #menu a.selected:before {
    content: '';
    left: -20px;
    top: 5px;
    position: absolute;
    display: block;
    background-image: url("/static/images/icons/arrow_right.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
    background-size: contain; }
  @media screen and (min-width: 1070px) {
    #menu a:after {
      content: "";
      display: block;
      width: 0;
      transition: width 1s ease-in-out;
      position: absolute;
      bottom: 0;
      background-color: #aab4e2;
      height: 1px; }
    #menu a:hover {
      color: #aab4e2;
      text-decoration: none; }
      #menu a:hover:after {
        width: 100%; } }

#menu {
  float: right;
  margin-top: 15px;
  margin-left: 1%; }
  @media screen and (max-width: 1070px) {
    #menu {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
      margin-top: 0;
      margin-left: 0;
      height: 100vh;
      transform: translateY(-100%);
      float: none;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: -1;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.9); }
      #menu a {
        color: #ffffff; } }

.hamburger {
  font-size: 1.7rem;
  border: none;
  color: #ffffff;
  background-color: transparent;
  z-index: 12;
  margin-right: 30px; }
  @media screen and (min-width: 1070px) {
    .hamburger {
      display: none; } }

.logo-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px;
  height: 45px;
  background-image: url("/static/images/icons/logo.svg");
  background-position: center; }

.logo {
  position: absolute;
  left: 0;
  margin-left: 10%;
  z-index: 12; }

.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center; }

#login-form {
  position: fixed;
  z-index: 100;
  top: calc(50% - 20px);
  height: 200px;
  background-color: #ffffff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 20px; }
  #login-form label {
    width: 52px;
    margin-right: 10px; }

.succSave {
  position: absolute;
  top: 100px;
  background-color: green;
  width: 200px;
  right: calc(50% - 100px);
  left: calc(50% - 100px);
  z-index: 1000;
  height: 50px;
  text-align: center; }

article {
  text-align: left;
  margin-bottom: 150px; }
  article .heading {
    margin-left: 20px;
    margin-bottom: 30px; }
  article .text {
    margin-left: 30%; }

.home header.main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #000000; }
  .home header.main .logo-img {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0; }
.home div:nth-child(2) {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center; }

/*# sourceMappingURL=style.css.map */
